<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<table class="table table-dark">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Speed</th>
    <th scope="col">Color</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="car: ${cars}">
  <td th:text="${car.name}"/>
  <td th:text="${car.speed}"/>
  <td th:text="${car.color}"/>
  </tr>
  </tbody>
</table>
</body>
</html>